In [ ]:
#day1

1.List Some Mega Projects hosted in Python
Database Projects: Management Systems (Library, Hotel, Hospital, School)
ML Projects: Classification
AI Projects: Chatbots, face detection and recognition, speech recognition, Security
Data Science Projects: Global Terrorism Analysis, Call Data Record Analysis

2.List Python Libraries Used in Different IT Domains

Pandas, numpy, matplotlib, tkinter, sklearn, tensorflow

In [6]:
#day1
#task 4
print("Hello WOrld")
a=45
b=5
c=a+b
print("sum is: ",c)

Hello WOrld
sum is:  50

In [ ]:
#Day 2
2.Use Jupyter Notebook to execute following code, try to guess what is happening in this code

It is used to plot a graph showing the height distribution of various people.

4.Write Down difference between interpreter and compiler

Compiler checks the program as a whole and searches for errors. After no error is detected it generates an executable byte code file which on executing gives us the output.

Interpreter checks the entire code line by line. So if a line contains error it stops executing. It is slower than compiler.

5.What is Data Structure, why we need one in programs?

Data structure explains how data is going to organized in computer memory, and what will be the cost performing different operations like traversing, insertion, deletion, searching and sorting on that data.

In [ ]:
#Day 3
1.What are Data Structures? List some of data structures and their use in real world application?

Data type explains how data is going to organised in computer memory, and what will be the cost of performing different operations like traversing, insertion, deletion, searching and sorting on that data. Ex - integer, float, string, list, dictionary, set, boolean.

Lists, dictionary are used in management systems.

In [ ]:
#day3

4. What is difference between ordered data type and unordered data type?

	Ordered data types are sequential data types on which we can use indexing and slicing. Ex - list, tuple.
	
	Unordered data types are non sequential and we can’t use indexing or slicing on them. Ex - set, dictionary.
    
    
5.Write down types of each value given? (in python)

 a. 100 - integer
 b. 105.5 - float
 c. 192.56j - complex
 d. 10+6j - complex
 e. ‘10’ - string
 f. ‘hello world’ - string
 g. [10, 20, 50, 100] - list
 h. { ‘name’: ‘sachin’, ‘age’: 24, ‘language’: ‘python’ } - dictionary

In [13]:
#day 3
#task 3
list=["ritos","saptarshi","ayush","priyanshu","sahil"]
print(list)
list.sort()
print(list)
list.reverse()
print(list)
list.append("aditya")
print(list)
list.insert(0,"aniket")
print(list)
list.pop()
print(list)
list.remove("aniket")
print(list)

['ritos', 'saptarshi', 'ayush', 'priyanshu', 'sahil']
['ayush', 'priyanshu', 'ritos', 'sahil', 'saptarshi']
['saptarshi', 'sahil', 'ritos', 'priyanshu', 'ayush']
['saptarshi', 'sahil', 'ritos', 'priyanshu', 'ayush', 'aditya']
['aniket', 'saptarshi', 'sahil', 'ritos', 'priyanshu', 'ayush', 'aditya']
['aniket', 'saptarshi', 'sahil', 'ritos', 'priyanshu', 'ayush']
['saptarshi', 'sahil', 'ritos', 'priyanshu', 'ayush']

In [22]:
#day 3, task 5
print(type(100))
print(type(105.5))
print(type(192.56j))
print(type(10+6j))
print(type('10'))
print(type('hello world5'))
print(type([10,20,50,100]))
print(type({'name':'sachin','age':24,'language':'python'}))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [47]:
#day 4, task 1
print("......day 4, task 1.......\n")
string ="Saptarshi is great!"
print(string)
print(string.split(" "))
print(string.strip("!"))
print(string.replace("great","amazing"))
print(string.center(5))
print(string.title())

print("\n......day 4, task 2.......\n")
list=[1,2,3,4,5]
print("the list is",list)
list.sort()
print(list)
list.reverse()
print(list)
list.append(0)
print(list)
list.insert(0,6)
print(list)
list.pop()
print(list)
list.remove(6)
print(list)

print("\n......day 4, task 3.......\n")
games=["Football","cricket","Rugby","Kabaddi"]
language=["Java","Python","C","C++"]
electronics=["Tv","Mobile","Speaker"]
denominations=[10,20,50,100,200,500]
bike=["ktm","honda","bajaj","hero"]
print("The Games list contain: ",games)
print("The Electronics list contain: ",electronics)
print("The Language list contain: ",language)
print("The Denomination list contain: ",denominations)
print("The Bike list contain: ",bike)

......day 4, task 1.......

Saptarshi is great!
['Saptarshi', 'is', 'great!']
Saptarshi is great
Saptarshi is amazing!
Saptarshi is great!
Saptarshi Is Great!

......day 4, task 2.......

the list is [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1, 0]
[6, 5, 4, 3, 2, 1, 0]
[6, 5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

......day 4, task 3.......

The Games list contain:  ['Football', 'cricket', 'Rugby', 'Kabaddi']
The Electronics list contain:  ['Tv', 'Mobile', 'Speaker']
The Language list contain:  ['Java', 'Python', 'C', 'C++']
The Denomination list contain:  [10, 20, 50, 100, 200, 500]
The Bike list contain:  ['ktm', 'honda', 'bajaj', 'hero']

In [ ]:
3.Create 5 real time list to store some useful information in python. Eg -> Language = [ ‘java’, ‘c’, ‘c++’, ‘ruby’ ]

 Language = [ ‘java’, ‘c’, ‘c++’, ‘ruby’ ]
 Subject = [‘physics’, ’chem’, ’math’, ’bio’]
 Stream = [‘CSE’, ‘IT’, ‘electrical’, ‘civil’] ...
4.What is difference between mutable and immutable data types in python

 An object whose internal state can be changed is call mutable.
 Immutable data type doesn’t allow any change in the object once it has been created.
5.What are identifiers, list rules of identifiers in python

 Identifiers are used to store an object of a data type class.
 Rules for identifiers are:-
 * an identifier should not be a keyword.
 * an identifier should not start with a number.
 * an identifier should not contain any special character except _.

In [ ]:
#day5

1.What is difference between shallow copy and deep copy?

 New = nums.copy()
 New = copy.deepcopy(nums)

3.This chapter introduced assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression can be any combination of value, symbol, character. However when that expression is stored or assigned to someone it becomes a statement.

4.Define following:- a. Atomic data types / Primary data types b. Secondary data type / User Defined Data Type A.These are the simplest form of data that cannot be broken down to any more simpler data. Ex - integer, boolean, float. B.These are made through a collection of atomic data types. Ex - list, string, set, dictionary.
5.What is UDF?

User Defined Function. A function that is made by the user and can be used by only him.

In [54]:
#day 5,task2

print("\n......day 5, task 2.......\n")
Author1=["book1","book2"]
Author2=["book abc","book ltr"]
print("Total books in library: ",len(Author1)+len(Author2))
print("Books by Author1: ",Author1)

......day 5, task 2.......

Total books in library:  4
Books by Author1:  ['book1', 'book2']

In [ ]:
#day6
1.Write down 10 projects ideas you want to implement using python

Tic tac toe game
Library management system
Song recommender system
House price prediction
Weather forecasting app
Scientific calculator
Snake game
Bot (Reddit, Whatsapp)
Sudoku
Countdown clock and timer
3.What is duck typing in python, what are Dunder or special methods?

 Duck typing is a concept related to dynamic typing, where the type or the class of an object is less important than the method it defines. Using duck typing, we do not check types at all. Instead we check for the presence of a given method or attribute.

 Methods that allow instances of a class to interact with the built-in functions and operators in python are called dunder methods. Ex -> __add__, __str__
4.What are operators? How many types of operators are there in python?

 Operators are special symbols that designate that some sort of computation should be performed.
 There are 9 types of operators in python:-
 1. Assignment 
 2. Relational
 3. Logical
 4. Arithmetic
 5. Membership
 6. Identity
 7. Bitwise
 8. Shift 
 9. Unary

In [62]:
#day 6,task2

print("\n......day 6, task 2.......\n")
class xyz:
    games=["Football","cricket","Rugby","Kabaddi"]
    games_mean={
        "Football":"Popular sport where people chase a single ball with their foot"
           , "cricket":"Two teams try to hit a ball with a bat"  
    }
obj=xyz
print(obj.games)
print(obj.games_mean["Football"])
print(obj.games_mean["cricket"])

......day 6, task 2.......

['Football', 'cricket', 'Rugby', 'Kabaddi']
Popular sport where people chase a single ball with their foot
Two teams try to hit a ball with a bat

In [ ]:
#day8

1.What are the two values of the Boolean data type? How do you write them?

 True/False
2.What are the three Boolean operators?

 And, Or, Not
3.Write out the truth tables of each Boolean operator (that is, every possible combination of Boolean values for the operator and what they evaluate to).

 And : T/T -> T, T/F -> F, F/T -> F, F/F -> F
 Or : T/T -> T, T/F -> T, F/T -> T, F/F -> F
 Not : T -> F, F -> T

5.What are the six comparison operators?

 >, <, >=, <=, !=, ==
6.What is the difference between the equal to operator and the assignment operator?

 = :- used to assign a value to an identifier. Does not return a value.
 == :- used to check whether 2 identifiers have same value. Returns boolean value.
7.Explain what a condition is and where you would use one.

Condition is a statement where we check whether certain criteria is fulfilled or not. We can use it to check whether a number is odd or even in if - elif - else.

In [70]:
#day 8,task4

print("\n......day 8, task 4.......\n")

print((5>4)and(3==5))
print((not(5>4)))
print((5>4)or(3==5))
print((not((5>4)or(3==5))))
print((True and True) and (True ==False))
print((not False)or(not True))

......day 8, task 4.......

False
False
True
False
False
True

In [71]:
#day 9,task1

print("\n......day 9, task 1.......\n")
a=input("Enter a number: ")
a=int(a)
if(a==0):
    print("It is zero")
elif(a>0):
    print("It is positive")
elif(a<0):
    print("It is negative")

......day 9, task 1.......

Enter a number: 5
It is positive

In [73]:
#day 9,task2

print("\n......day 9, task 2.......\n")

a=input("Enter a number: ")
a=int(a)
if(a%5==0):
    if(a%11==0):
        print("It is divisible by both 5 & 11")
else:
    print("It is not divisible by 5 and 11")

......day 9, task 2.......

Enter a number: 22
It is not divisible by 5 and 11

In [74]:
#day 9,task3

print("\n......day 9, task 3.......\n")

year=input("Enter a year: ")
year=int(year)
if(year%400==0 and year%100==0):
        print("It is leap year")
elif(year%4 and year%100==0):
    print("It is a leap year")
else:
    print("not a leap year")

......day 9, task 3.......

Enter a year: 2003
not a leap year

In [6]:
#day 9,task4

print("\n......day 9, task 4.......\n")

char=input("Enter a character: ")
if(char>='a' and char<='z'):
    print("It is an alphabet")
elif(char>='A' and char<='Z'):
    print("It is an alphabet")
else:
    print("It is not an alphabet")

......day 9, task 4.......

Enter a character: t
It is an alphabet

In [12]:
#day 9,task5

print("\n......day 9, task 5.......\n")

char=input("Enter a character: ")
if(char>='a' and char<='z'):
    if(char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
        print("It is an vowel")
elif(char>='A' and char<='Z'):
     if(char=='A' or char=='E' or char=='I' or char=='O' or char=='U'):
        print("It is an vowel")
else:
    print("It is a consonant")

......day 9, task 5.......

Enter a character: t

In [23]:
#day 9,task6

print("\n......day 9, task 6.......\n")

char=input("Enter a character: ")
if(char>='a' and char<='z'):
    print("It is an alphabet");
elif(char>='A' and char<='Z'):
    print("It is an alphabet");

elif (char.isdigit()==True):
    print("It is a digit")

......day 9, task 6.......

Enter a character: 5
It is a digit

In [24]:
#day 9,task7

print("\n......day 9, task 5.......\n")

char=input("Enter a character: ")
if(char>='a' and char<='z'):
    print("It is an lower case alphabet")
elif(char>='A' and char<='Z'):
    print("It is an upper case alphabet")
else:
    print("It is not an alphabet")

......day 9, task 5.......

Enter a character: A
It is an upper case alphabet

In [40]:
#day 9,task8

print("\n......day 9, task8.......\n")
week_num={
    1:"Monday",
    2:"Tuesday",
    3:"Wednesday",
    4:"Thursday",
    5:"Friday",
    6:"Saturday",
    7:"Sunday"
         }
w=input("Enter week number: ")
w=int(w)

if(w>=1 and w<=7):
    
    print("The day is: ",week_num.get(w));

else:
    
    print("Not a valid week number")

Enter week number: 65
Not a valid week number

In [44]:
#day 9,task9

print("\n......day 9, task9.......\n")
angle1=input("Enter a angle: ")
angle2=input("Enter a angle: ")
angle3=input("Enter a angle: ")
a1=int(angle1)
a2=int(angle2)
a3=int(angle3)
if((a1+a2+a3)==180):
    if((a1+a2)>a3):
        print("It is a valid triangle")
    elif((a2+a3)>a1):
        print("It is a valid triangle")
    elif((a3+a1)>a2):
        print("It is a valid triangle")
else:
    print("It is not a valid triangle")

......day 9, task9.......

Enter a angle: 90
Enter a angle: 45
Enter a angle: 45
It is a valid triangle

In [49]:
#day 9,task10

print("\n......day 9, task10.......\n")
side1=input("Enter a side: ")
side2=input("Enter a side: ")
side3=input("Enter a side: ")
s1=int(side1)
s2=int(side2)
s3=int(side3)
if((s1+s2)>s3):
     print("It is a valid triangle")
elif((s2+s3)>s1):
    print("It is a valid triangle")
elif((s3+s1)>s2):
     print("It is a valid triangle")
else:
    print("It is not a valid triangle")

......day 9, task10.......

Enter a side: 0
Enter a side: 0
Enter a side: 1
It is a valid triangle

In [52]:
#day 9,task11

print("\n......day 9, task11.......\n")
side1=input("Enter a side: ")
side2=input("Enter a side: ")
side3=input("Enter a side: ")
s1=int(side1)
s2=int(side2)
s3=int(side3)

if(s1==s2 and s2==s3 and s3==s1):
    print("It is equilateral")
elif((s1==s2 and s1!=s3) or (s2==s3 and s2!=s1) or (s3==s1 and s3!=s2)):
    print("It is isosceles triangle")
elif(s1!=s2 and s2!=s3 and s3!=s1):
    print("It is scalene triangle")
else:
    print("Not a valid triangle")

......day 9, task11.......

Enter a side: 4
Enter a side: 3
Enter a side: 2
It is scalene triangle

In [60]:
#day 9,task12

print("\n......day 9, task12.......\n")

print("Enter marks out of 100\n")
m1=input("Enter marks physics: ")
m2=input("Enter marks Chemistry: ")
m3=input("Enter marks Biology: ")
m4=input("Enter marks Mathematics: ")
m5=input("Enter marks Computer: ")

m1=int(m1)
m2=int(m2)
m3=int(m3)
m4=int(m4)
m5=int(m5)

percentage=((m1+m2+m3+m4+m5)/5)
print("Your percentage is: ",percentage,"%")
if(percentage>=90):
    print("Your grade is: A")
elif(percentage>=80):
    print("Your grade is: B")
elif(percentage>=70):
    print("Your grade is: C")
elif(percentage>=60):
    print("Your grade is: D")
elif(percentage>=40):
    print("Your grade is: E")
elif(percentage<40):
    print("Your grade is: F")

......day 9, task12.......

Enter marks out of 100

Enter marks physics: 56
Enter marks Chemistry: 99
Enter marks Biology: 89
Enter marks Mathematics: 67
Enter marks Computer: 99
Your percentage is:  82.0 %
Your grade is: B

In [4]:
#day 9,task13

print("\n......day 9, task13.......\n")

b_sal=input ("Enter your basic salary: ")
b_sal=int(b_sal)

if(b_sal<=10000):
    hra=0.2*b_sal
    da=0.8*b_sal
    g_sal=hra+da+b_sal
    print("Your Gross Salary is: ",g_sal)
elif(b_sal<=20000):
    hra=0.25*b_sal
    da=0.9*b_sal
    g_sal=hra+da+b_sal
    print("Your Gross Salary is: ",g_sal)
elif(b_sal>20000):
    hra=0.3*b_sal
    da=0.95*b_sal
    g_sal=hra+da+b_sal
    print("Your Gross Salary is: ",g_sal)

......day 9, task13.......

Enter your basic salary: 464335
Your Gross Salary is:  1044753.75

In [7]:
#day 9,task14

print("\n......day 9, task14.......\n")

unit=input("Enter your electricity units: ")
unit=int(unit)
if(unit>50):
    price=50*0.5
    unit=unit-50
    if(unit<=100):
        price=price+(unit*0.75)
        unit=unit-100
    elif(unit<=100):
        price=price+(unit*1.2)
        unit=unit-100
    elif(unit>0):
        price=price+(unit*1.5)
        price=price+(0.2*price)
elif(unit<=50):
    price=unit*0.5
else:
    print("Not valid unit")
    
print("Your bill is: ",price)

......day 9, task14.......

Enter your electricity units: 150
Your bill is:  100.0

In [23]:
#day 10,task1

print("\n......day 10, task1.......\n")
import math
number=input("Enter a number: ")
num=0
number=int(number)
x=number
while(x!=0):
    n=x%10
    num=num*10+n
    x=math.floor(x/10)
    
    
if(num==number):
    print("Palindrome")
    
else:
    print("Not palindrome ")

......day 10, task1.......

Enter a number: 432
Not palindrome  234

In [27]:
#day 10,task2

print("\n......day 10, task2.......\n")

a=input("how many multiples: ")
a=int(a)
print("Multiples of 3: ")
for i in range(1,(a+1)):
    print(3*i)
print("Multiples of 5: ")
for i in range(1,(a+1)):
    print(5*i)

......day 10, task2.......

how many multiples: 5
Multiples of 3:
3
6
9
12
15
Multiples of 5:
5
10
15
20
25

In [49]:
#day 10,task3

print("\n......day 10, task3.......\n")

n=int(input("Enter a number: "))
p=1
for i in range(2,n+1):
    p=p*i
print("Factorial: ",p)

......day 10, task3.......

Enter a number: 1
else
else
else
The factorial is:  24

In [50]:
#day 10,task4

print("\n......day 10, task4.......\n")

n=int(input("How many fibonacci no do you want: "))
a=0
b=1
print("Fibonacci series: ",a,b,end=', ',sep=', ')
for i in range(2,n):
    c=a+b
    print(c,end=', ')
    a=b
    b=c

Enter a number: 5
Factorial:  120

In [51]:
#day 10,task5

print("\n......day 10, task5.......\n")

n=int(input("Enter a no: "))
m=n
s=0
while n:
    a=n%10
    s=s+a**3
    n=n//10
if s==m:
    print("Armstrong no")
else:
    print("Not an Armstrong no")

......day 10, task5.......

Enter a no: 6
Not an Armstrong no

In [1]:
#day 11
i=1
while i<=5:
    s='*'*i
    print(s)
    i=i+1

*
**
***
****
*****

In [2]:
i=1
while i<=5:
    s=str(i)*i
    print(s)
    i=i+1

1
22
333
4444
55555

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j+i,end='')
    print()

2
34
456
5678
678910

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        if (i+j)%2==0:
            print(1,end='')
        else:
            print(0,end='')
    print()

1
01
101
0101
10101

In [6]:
n=0
for i in range(1,6):
    for j in range(1,i+1):
        n=n+1
        print(n,end='')
    print()

1
23
456
78910
1112131415

In [7]:
for i in range(5,-1,-1):
    for j in range(5,i,-1):
        print(j,end='')
    print()

5
54
543
5432
54321

In [8]:
i=1
n=5
while i<=5:
    s=str(n)*i
    print(s)
    i=i+1
    n=n-1

5
44
333
2222
11111

In [9]:
i=5
while i>=1:
    s='*'*i
    print(s)
    i=i-1

*****
****
***
**
*

In [10]:
i=5
n=1
while i>=1:
    s=str(n)*i
    print(s)
    if i<=5//2+1:
        n=n-1
    else:
        n=n+1
    i=i-1

11111
2222
333
22
1

In [11]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end='')
    print()

12345
1234
123
12
1

In [12]:
i=5
n=5
while i>=1:
    s=str(n)*i
    print(s)
    i=i-1
    n=n-1

55555
4444
333
22
1

In [13]:
for i in range(0,5):
    for j in range(5,i,-1):
        print(j,end='')
    print()

54321
5432
543
54
5

In [14]:
i=1
while i<=5:
    s='* '*i
    print(s.center(10))
    i=i+1

    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
for i in range(1,6):
    s=''
    for j in range(1,i+1):
        s=s+str(j)+' '
    print(s.center(10))

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [16]:
i=1
while i<=5:
    s='*'*i
    print(s.rjust(5))
    i=i+1

    *
   **
  ***
 ****
*****

In [17]:
for i in range(1,6):
    s=''
    for j in range(1,i+1):
        s=s+str(j)
    print(s.rjust(5))

    1
   12
  123
 1234
12345

In [18]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

    *
   ***
  *****
 *******
*********

In [19]:
n=1
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n+1

    1
   222
  33333
 4444444
555555555

In [20]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

    1
   123
  12345
 1234567
123456789

In [21]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'* '
    print(s.center(20))

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *

In [22]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765

In [23]:
for i in range(1,6):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345

In [24]:
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

*********
 *******
  *****
   ***
    *

In [25]:
n=5
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n-1

555555555
 4444444
  33333
   222
    1

In [26]:
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

123456789
 1234567
  12345
   123
    1

In [27]:
for i in range(5,0,-1):
    st=''
    n=i-1
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

567898765
 4567654
  34543
   232
    1

In [28]:
for i in range(5,0,-1):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

543212345
 5432345
  54345
   545
    5

In [29]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [30]:
n=1
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n+1
n=4
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n-1

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [31]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [32]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))
for i in range(4,0,-1):
    st=''
    n=i-1
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765
 4567654
  34543
   232
    1

In [33]:
for i in range(1,6):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))
for i in range(4,0,-1):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345
 5432345
  54345
   545
    5

In [34]:
for i in range(1,8):
    for j in range(1,8):
        print('*',end='')
    print()

*******
*******
*******
*******
*******
*******
*******

In [35]:
for i in range(1,8):
    for j in range(1,8):
        if i in (1,7):
            print('*',end='')
        elif j in (1,7):
            print('*',end='')
        else:
            print(' ',end='')
    print()

*******
*     *
*     *
*     *
*     *
*     *
*******

In [36]:
for i in range(1,8):
    for j in range(1,8):
        if i==j:
            print('\\',end='')
        elif i+j==8:
            print('/',end='')
        else:
            print('*',end='')
    print()

\*****/
*\***/*
**\*/**
***\***
**/*\**
*/***\*
/*****\

In [37]:
r=int(input('Enter no of rows: '))
c=int(input('Enter no of columns: '))
for i in range(1,r//2+1):
    s=''
    for j in range(1,2*i):
        s=s+'.|.'
    print(s.center(c,'-'))
print('WELCOME'.center(c,'-'))
for i in range(r//2,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'.|.'
    print(s.center(c,'-'))

Enter no of rows: 11
Enter no of columns: 11
----.|.----
-.|..|..|.-
.|..|..|..|..|.
.|..|..|..|..|..|..|.
.|..|..|..|..|..|..|..|..|.
--WELCOME--
.|..|..|..|..|..|..|..|..|.
.|..|..|..|..|..|..|.
.|..|..|..|..|.
-.|..|..|.-
----.|.----

In [38]:
s=int(input('Enter size: '))
for i in range(1,s+1):
    l=[]
    n=97+s
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        l.append(chr(n))
    st='-'.join(l)
    print(st.center(37,'-'))
for i in range(s-1,0,-1):
    l=[]
    n=97+s
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        l.append(chr(n))
    st='-'.join(l)
    print(st.center(37,'-'))

Enter size: 10
------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------

In [39]:
#Day 12

# 1. Write a code to implement Guess Game.
i=5
c=0
import random
n=random.randint(1,50)
while i:
    ch=int(input('Enter your choice: '))
    if ch>50 or ch<1:
        continue
    if ch==n:
        print('Correct answrer: ',n)
        print('Congrats! you guessed right')
        c=1
        break
    elif ch>n:
        print('Hint: think a low number!')
    elif ch<n:
        print('Hint: think a high number!')
    i=i-1
    print(f'Guesses left: {i}')

if c==0:
    print('Correct answrer: ',n)
    print('Better luck next time')

Enter your choice: 5
Hint: think a high number!
Guesses left: 4
Enter your choice: 6
Hint: think a high number!
Guesses left: 3
Enter your choice: 8
Hint: think a high number!
Guesses left: 2
Enter your choice: 9
Hint: think a high number!
Guesses left: 1
Enter your choice: 1
Hint: think a high number!
Guesses left: 0
Correct answrer:  14
Better luck next time

In [40]:
# 2
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    out=[]
    for i in range(x + 1): 
        for j in range(y + 1): 
            for m in range(z + 1): 
                if ((i + j + m) != n):
                    out.append([i,j,m])
                    
    print(out)

5
3
4
4
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 1, 4], [0, 2, 0], [0, 2, 1], [0, 2, 3], [0, 2, 4], [0, 3, 0], [0, 3, 2], [0, 3, 3], [0, 3, 4], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 0, 4], [1, 1, 0], [1, 1, 1], [1, 1, 3], [1, 1, 4], [1, 2, 0], [1, 2, 2], [1, 2, 3], [1, 2, 4], [1, 3, 1], [1, 3, 2], [1, 3, 3], [1, 3, 4], [2, 0, 0], [2, 0, 1], [2, 0, 3], [2, 0, 4], [2, 1, 0], [2, 1, 2], [2, 1, 3], [2, 1, 4], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 2, 4], [2, 3, 0], [2, 3, 1], [2, 3, 2], [2, 3, 3], [2, 3, 4], [3, 0, 0], [3, 0, 2], [3, 0, 3], [3, 0, 4], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 1, 4], [3, 2, 0], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 2, 4], [3, 3, 0], [3, 3, 1], [3, 3, 2], [3, 3, 3], [3, 3, 4], [4, 0, 1], [4, 0, 2], [4, 0, 3], [4, 0, 4], [4, 1, 0], [4, 1, 1], [4, 1, 2], [4, 1, 3], [4, 1, 4], [4, 2, 0], [4, 2, 1], [4, 2, 2], [4, 2, 3], [4, 2, 4], [4, 3, 0], [4, 3, 1], [4, 3, 2], [4, 3, 3], [4, 3, 4], [5, 0, 0], [5, 0, 1], [5, 0, 2], [5, 0, 3], [5, 0, 4], [5, 1, 0], [5, 1, 1], [5, 1, 2], [5, 1, 3], [5, 1, 4], [5, 2, 0], [5, 2, 1], [5, 2, 2], [5, 2, 3], [5, 2, 4], [5, 3, 0], [5, 3, 1], [5, 3, 2], [5, 3, 3], [5, 3, 4]]

In [41]:
# 3
if __name__ == '__main__':
    N = int(input())
    ls = list()
    while N>0:
        N -=1
        command = input().split()
        if command[0] == "insert":
            ls.insert(int(command[1]),int(command[2]))
        elif command[0] == "remove":
            ls.remove(int(command[1]))
        elif command[0] == "print":
            print(ls)
        elif command[0] == "sort":
            ls.sort()
        elif command[0] == "append":
            ls.append(int(command[1]))
        elif command[0] == "pop":
            ls.pop()
        elif command[0] =="reverse":
            ls = ls[::-1]
        else:
            pass

5
6
7
4
4
5

In [43]:
# 5. selection sort
arr=[8,6,5,7]
print('Array before sorting: ',arr)
for i in range(0,len(arr)-1):
    for j in range(i+1,len(arr)):
        if arr[i]>arr[j]:
            temp=arr[i]
            arr[i]=arr[j]
            arr[j]=temp
print('Array after sorting: ',arr)

Array before sorting:  [8, 6, 5, 7]
Array after sorting:  [5, 6, 7, 8]

In [44]:
# 5. bubble sort
arr=[8,6,5,7]
print('Array before sorting: ',arr)
for i in range(0,len(arr)):
    for j in range(0,len(arr)-1-i):
        if arr[j]>arr[j+1]:
            temp=arr[j]
            arr[j]=arr[j+1]
            arr[j+1]=temp
print('Array after sorting: ',arr)

Array before sorting:  [8, 6, 5, 7]
Array after sorting:  [5, 6, 7, 8]

In [45]:
## 5. insertion sort
arr=[8,6,5,7]
print('Array before sorting: ',arr)
for i in range(1,len(arr)):
    k=arr[i]
    j=i-1
    while j>=0 and k<arr[j]:
        arr[j+1]=arr[j]
        j-=1
    arr[j+1]=k
print('Array after sorting: ',arr)

Array before sorting:  [8, 6, 5, 7]
Array after sorting:  [5, 6, 7, 8]

In [46]:
Day 13
# 1. Write a Python Code to count the Number of Each Vowel in a given string
s=input('Enter a string: ')
a=e=c=o=u=0
for i in s:
    if i in 'aA':
        a+=1
    elif i in 'eE':
        e+=1
    elif i in 'iI':
        c+=1
    elif i in 'oO':
        o+=1
    elif i in 'uU':
        u+=1
print('No of a: ',a,' e: ',e,' i: ',c,' o: ',o,' u: ',u)

Enter a string: ritos
No of a:  0  e:  0  i:  1  o:  1  u:  0

In [47]:
# 2. Write a Python Code to count number of words, characters and number of spaces in a given stirng
s=input('Enter a string: ')
w=c=b=0
l=s.split()
for i in l: 
    w+=1
for i in s:
    if i==' ':
        b+=1
    else:
        c+=1
print('No of words: ',w,' characters: ',c,' spaces: ',b)

Enter a string: bedesha
No of words:  1  characters:  7  spaces:  0

In [48]:
# 3. Write a Python Program to remove punctuation from a given string (using loop)
s=input('Enter a string: ')
print('Og string: ',s)
punc='''!()-[]}{;:'"\,<>./?@#$%^&*_~'''
for i in s:
    if i in punc:
        s=s.replace(i,'')
print('After removing punc: ',s)

Enter a string: ankita
Og string:  ankita
After removing punc:  ankita

In [49]:
# 4. Write a Python Program to take a mxn matrix input from user and stored in nested list
matrix=[]
m=int(input('Enter no of columns: '))
n=int(input('Enter no of rows: '))
for i in range(0,n):
    a=[]
    print('Enter numbers for column ',i+1)
    for j in range(0,m):
        a.append(int(input()))
    matrix.append(a)
print(matrix)

Enter no of columns: 3
Enter no of rows: 3
Enter numbers for column  1
3
4
5
Enter numbers for column  2
1
3
4
Enter numbers for column  3
6
8
9
[[3, 4, 5], [1, 3, 4], [6, 8, 9]]

In [50]:
# 5. Write a Python Program to add, multiply and transpose two matrices given by user 
m1=[[2,2,2],[5,5,5],[6,6,6]]
m2=[[3,3,3],[4,4,4],[1,1,1]]
print(m1)
print(m2)

def add(x,y):
    sum=[]
    for i in range(0,3):
        a=[]
        for j in range(0,3):
            a.append(x[i][j]+y[i][j])
        sum.append(a)
    print(sum)

add(m1,m2)

def mul(x,y):
    prod=[[0,0,0],[0,0,0],[0,0,0]]
    for i in range(len(x)):
        for j in range(len(y[0])):
            for k in range(len(y)):
                prod[i][j] += x[i][k] * y[k][j]
    print(prod)

mul(m1,m2)

def transpose(x):
    result=[[0,0,0],[0,0,0],[0,0,0]]
    for i in range(len(x)):
        for j in range(len(x[0])):
            result[j][i] = x[i][j]
    print(result)

transpose(m1)

[[2, 2, 2], [5, 5, 5], [6, 6, 6]]
[[3, 3, 3], [4, 4, 4], [1, 1, 1]]
[[5, 5, 5], [9, 9, 9], [7, 7, 7]]
[[16, 16, 16], [40, 40, 40], [48, 48, 48]]
[[2, 5, 6], [2, 5, 6], [2, 5, 6]]

In [51]:
#day 14
# 1. Program to find the sum of digits of a number until the sum is reduced to 1 digit
n=int(input('Enter a number: '))
while n>10:
    m=n
    sum=0
    while m:
        a=m % 10
        sum=sum + a
        m=m // 10
    n=sum
    print(sum)

Enter a number: 69
15
6

In [52]:
# 2. Program to find LCM and HCF of two numbers
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
HCF = 1
for i in range(2,a+1):
    if(a%i==0 and b%i==0):
        HCF = i
 
print("First Number is: ",a)
print("Second Number is: ",b)
print("The HCF is: ",HCF)
LCM = int((a*b)/(HCF))
print("LCM of the two numbers is: ",LCM)

Enter the first number: 34
Enter the second number: 56
First Number is:  34
Second Number is:  56
The HCF is:  2
LCM of the two numbers is:  952

In [53]:
# 3. Write a program to accept any number n and print the cube of all numbers from 1 to n which are divisible by 3. Rewrite the program using a continue statement.

n=int(input('Enter a number: '))
for i in range(1,n):
    if i%3==0:
        print(i**3)

Enter a number: 34
27
216
729
1728
3375
5832
9261
13824
19683
27000
35937

In [54]:
# 3. Write a program to accept any number n and print the cube of all numbers from 1 to n which are divisible by 3. Rewrite the program using a continue statement.

n=int(input('Enter a number: '))
for i in range(1,n):
    if i%3!=0:
        continue
    else:
        print(i**3)

Enter a number: 24
27
216
729
1728
3375
5832
9261

In [57]:
# 5. Write a program to input a number and count the digits in it. Use while loop and the program should work correctly for 0 also
n=int(input('Enter a number: '))
s=0
if n==0:
    print('No of digits: ',1)
else:
    while n:
        s+=1
        n=n//10
print('No of digits: ',s)

Enter a number: 45
No of digits:  2

In [58]:
# 6. Write a program to enter a number and find the reverse of that number. Also display the double of the reverse number. (don’t use string magic)
n=int(input("Enter a no: "))
s=0
while n:
    a=n%10
    s=s*10+a
    n=n//10
print('The reversed no is: ',s)
print('The double of reversed no: ',2*s)

Enter a no: 56
The reversed no is:  65
The double of reversed no:  130